@using Homework.Models

<h2>Create User</h2>
<form method = "post">
    <p>
        <label>Name:</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Surname:</label><br />
        <input type="text" name="surname" />
    </p>
    <p>
        <label>Date of Birth:</label><br />
        <input type="date" name="birthDate" />
    </p>
    <p>
        <input type="submit" value="Create" />
    </p>
</form>